.nav > li > a {
    color: #000;
    font-size: 20px;
}
li {
    list-style-type: none;
}
.footer-menu a {
    text-decoration: none;
    color: #000;
}
.footer-menu a:hover {
    color: #065091;
}
.footer-menu ul {
    padding-left: 0;
}
.footer-menu li {
    margin-bottom: 1rem;
}
.nav > li > a:hover, 
.nav > li > a:focus {
    color: #065091;
}
.headliner,
.speaker,
.feedback,
.copyright {
    background: #d0e4f7;
    background: -moz-linear-gradient(left, #2b77be 0%, #1d5e97 22%, #065091 50%, #1d5e97 79%, #2b77be 100%);
    background: -webkit-linear-gradient(left, #2b77be 0%,#1d5e97 22%,#065091 50%,#1d5e97 79%,#2b77be 100%);
    background: linear-gradient(to right, #2b77be 0%,#1d5e97 22%,#065091 50%,#1d5e97 79%,#2b77be 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 );
    /* padding: 200px 0; */
}
.headliner-btn > button {
    color: #fff;
    border-color: #fff;
}
.headliner-btn > button:hover {
    border-color: #fff;
    background-color: #fff;
    color: #000;
}

/* Блок с информацией */
.info i {
    font-size: 30px;
    color: #065091;
}
.vm-icon {
    margin: 0 auto 15px;
    width: 70px;
    height: 70px;
    border: 3px solid #065091;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info h5 {
    margin-bottom: 50px;
}
.speaker {
    padding-top: 80px;
    padding-bottom: 80px;
}
.speaker .img {
    /* max-width: 50%;
    max-height: auto; */
}

.speaker img {
    object-fit: cover;
    width: 100%;
}

.carousel-indicators {
    margin-bottom: -45px;
}
.feedback {
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 600px !important;
}
footer .row-social {
    display: flex;
}
.row-social i {
    font-size: 22px;
    color: #065091;
    transition: all .2s;
}
.row-social i:hover {
    color: #2b77be;
}